.left-container, .right-container {
  display: flex;
  flex-direction: column;
}

.left-container {
  text-align: left;
  padding-left: 1em;
  /* background-color: rgb(191, 242, 225); */
  flex: 2;
}

.right-container {
  /* background-color: rgb(245, 227, 205); */
  flex: 1;
  justify-content: flex-end;
}